@charset "UTF-8";

@media (min-width: 320px){
    .content{
        font-size: 16px;
    }
}

*{
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html{
    background: linear-gradient(#32995B, #33997E, #327299 );
    background-repeat: no-repeat;
    color: white;
    
}
ul { 
    list-style: none; 
    padding: 10px;
}
a { 
    color: white; 
    text-decoration: none;
    padding: 10px;
}
.logo{
    
    padding: 4px;
}
.content {
    
    margin: auto;
    display: flex;
    text-align: center;
    flex-flow: row nowrap;
    
}
picture > img{
    margin-top: 10px;
    width: 20vw;
    border: solid 2px black;
}
.footer {
    text-align: center;
    border-top: solid 1px #cdcdcd;
    padding: 10px;
}
.main{
    flex: auto;
    text-align: center;
    padding: 10px;
    width: 50%;
    border-top: solid 1px #cdcdcd;
}
.anchors {
    border-left: solid 1px #cdcdcd;
    flex: auto;
    border-top: solid 1px #cdcdcd;
    padding: 10px;
}
.sidebar {
    border-right: solid 1px #cdcdcd;
    flex: auto;
    border-top: solid 1px #cdcdcd;
    padding: 10px;
}
figure {
    text-align: center;
}