@charset "UTF-8";

@media (max-width: 720px) {
  .content { flex-direction: column; }
  .main, .sidebar, .anchors { width: 100%; border-left: none; border-right: none; }
  picture > img { width: 80%; }
}

*{
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html{
    background: linear-gradient(#32995B, #33997E, #327299 );
    background-repeat: no-repeat;
    color: white;
    
}
ul { 
    list-style: none; 
    padding: 10px;
    margin-top: 20px;
}
a { 
    color: white; 
    text-decoration: none;
    padding: 10px;
    text-align: center;
    
}
a:hover{
    background-color: #327299;
    border-radius: 10px;
    
}
.logo{
    
    padding: 4px;
}
.content {
    
    margin: auto;
    display: flex;
    text-align: center;
    flex-flow: row nowrap;
    
}
figure > img{
    margin-top: 10px;
    width: 20vw;
    border: solid 2px black;
}
.footer {
    text-align: center;
    border-top: solid 1px #cdcdcd;
    padding: 10px;
}
.main{
    flex: auto;
    text-align: center;
    padding: 10px;
    width: 50%;
    border-top: solid 1px #cdcdcd;
}
.anchors {
    border-left: solid 1px #cdcdcd;
    flex: auto;
    border-top: solid 1px #cdcdcd;
    padding: 10px;
}
.sidebar {
    border-right: solid 1px #cdcdcd;
    flex: auto;
    border-top: solid 1px #cdcdcd;
    padding: 10px;
    
}
.sidebar > figure > img{
    margin-top: 200px;
    width: 10vw;
    border: solid 2px black;
    
}
figure {
    text-align: center;
}